@{
    ViewData["Title"] = "Home";
}

<h2>Bem vindo a loja do seu Zé</h2>
<p>Onde vc consegue comprar de tudo!</p>
<p>Aqui temos várias opções de escolha e você pode ficar a vontade</p>
<br>
<p>Acesse a barra de menu na parte superior da tela para ter acesso aos produtos</p>

